<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BuscaCep</ion-title>
  </ion-toolbar>
</ion-header>

<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BuscaCep</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>-->

<!--<ion-button id="present-alert">mostrar erro</ion-button>-->
<!--<ion-alert-->
<!--  trigger="present-alert"-->
<!--  header="Erro"-->
<!--  message="CEP não encontrado"-->
<!--&gt;</ion-alert>-->

<div class="campos">
 <form [formGroup]="adressForm" role="form">
    <ion-list>

      <ion-item>
        <ion-input
          (ionChange)="buscaCEP()"
          formControlName="cep"
          type="text"
          label="CEP: "></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="estado"
          [disabled]="true"
          type="text"
          label="Estado: "></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="cidade"
          [disabled]="true"
          type="text"
          label="Cidade: "></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="bairro"
          [disabled]="true"
          type="text"
          label="Bairro: "></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="rua"
          [disabled]="true"
          type="text"
          label="Rua: "></ion-input>
      </ion-item>

    </ion-list>
  </form>
</div>

<!--{{ cep | json }}-->

<!--<ion-button color="dark" (click)="buscaCEP('14887474')">confirmar</ion-button>-->


